img{
    width: 50%;
}
.img-c{
    width: 15vi;
}
/* table{
    border: 4px;
}
thead > tr{
    height: 40px;
} */
@media only screen and (min-width: 576px) {
    .table-r{
    width: 50%;
    }
}
.table-r{
    display: none;
}